$base_font: 'PT Sans';
$title_font: 'Open Sans';
$white: #FFFFFF;
$black: #000000;
$dark: #19263F;
$yellow: #FFFF00;
$red: #FF0000;

$container-lg: 1060px;
$container-md: 1024px;
$container-sm: 768px;

