.about
    .container
        .g-subtitle.about__title Etiam ac nisl ac quam sodales scelerisque elementum quis purus.
        .row
            .col-md-4
                .about__item
                    img.about__icon(src="img/icon_01.png" alt="icon")
                    p.g-subtitle.about__subtitle Donec efficitur molestie
                    p.g-text.about__desc Nulla pretium nunc in nulla placerat, sit amet porttitor enim ullamcorper. Curabitur ex erat, euismod ac vestibulum vel, viverra non lorem.
                    a.about__link(href="") Learn More
            .col-md-4
                .about__item
                    img.about__icon(src="img/icon_02.png" alt="icon")
                    p.g-subtitle.about__subtitle Mauris interdum venenatis
                    p.g-text.about__desc Vivamus cursus ante eu orci rutrum, vitae viverra ante dapibus. Vivamus porta molestie turpis, quis elementum nisi egestas eget.
                    a.about__link(href="") Learn More
            .col-md-4
                .about__item
                    img.about__icon(src="img/icon_03.png" alt="icon")
                    p.g-subtitle.about__subtitle Cras sit amet
                    p.g-text.about__desc Fusce suscipit, ante at imperdiet vehicula, ex augue feugiat enim, sed faucibus sem tortor quis turpis. Mauris lacinia neque id augue efficitur, ut feugiat massa efficitur.
                    a.about__link(href="") Learn More
