.features
    .container
        .g-subtitle.features__title Etiam ac nisl ac quam sodales scelerisque elementum quis purus.
        p.features__content Integer bibendum turpis sit amet pretium commodo. Cras justo elit, dapibus at viverra non, dapibus vitae est. Morbi facilisis mi non iaculis porttitor. Phasellus a nibh a lacus dignissim pharetra. Vivamus ullamcorper finibus mauris, sit amet volutpat enim sollicitudin sed.
        .row
            .col-md-4
                .features__item
                    img.features__icon(src="img/icon_04.png" alt="icon")
                    p.g-subtitle.features__subtitle Proin felis eros
                    p.g-text.features__desc Iverra sed eros id, eleifend maximus tortor

            .col-md-4
                .features__item
                    img.features__icon(src="img/icon_05.png" alt="icon")
                    p.g-subtitle.features__subtitle Suspendisse potenti
                    p.g-text.features__desc Vestibulum mi risus, aliquam vitae efficitur quis

            .col-md-4
                .features__item
                    img.features__icon(src="img/icon_06.png" alt="icon")
                    p.g-subtitle.features__subtitle Fusce pretium enim
                    p.g-text.features__desc Quisque at dui nunc. Curabitur sodales, turpis at luctus suscipit, nisl leo dignissim turpis
            .col-md-4
                .features__item
                    img.features__icon(src="img/icon_07.png" alt="icon")
                    p.g-subtitle.features__subtitle Vivamus urna eros
                    p.g-text.features__desc Fusce facilisis nunc a urna lacinia, nec sagittis felis efficitur. Phasellus commodo porttitor odio

            .col-md-4
                .features__item
                    img.features__icon(src="img/icon_08.png" alt="icon")
                    p.g-subtitle.features__subtitle Maecenas congue nisi
                    p.g-text.features__desc Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vulputate <a href"" class="features__link-inner">arcu nisi</a>

            .col-md-4
                .features__item
                    img.features__icon(src="img/icon_09.png" alt="icon")
                    p.g-subtitle.features__subtitle Cras sit amet
                    p.g-text.features__desc Fusce suscipit, ante at imperdiet vehicula

        .row.justify-content-center
            .col-md-4
                a.features__link(href="") View All Our Products
