footer.g-footer.footer
    .container
        .row.justify-content-center
            .col-md-6
                ul.footer-list
                    li.footer-list__item
                        a.footer-list__link(href="") PRIVACY POLICY
                    li.footer-list__item
                        a.footer-list__link(href="") ABOUT US
                    li.footer-list__item
                        a.footer-list__link(href="") SUPPORT
        .row.justify-content-center
            .col-md-6
                ul.social-list
                    li.social-list__item
                        a.social-list__link(href="") Facebook
                            svg.social-list__icon
                                use(xlink:href="#facebook")
                    li.social-list__item
                        a.social-list__link(href="") Twitter
                            svg.social-list__icon
                                use(xlink:href="#twitter")
                    li.social-list__item
                        a.social-list__link(href="") Instagram
                            svg.social-list__icon
                                use(xlink:href="#insta")
        .row.justify-content-center
            .col-md-6
                p.footer__copy Copright © 1999 - 2019
