header.header(style="background-image: url('img/main-bg.jpg')")
    .container
        .header-wrapper
            a(href="#").header-wrapper__logo
                img(src="img/svg/logo.svg" alt="logo")
            .burger
                span
                span
                span
            nav.header-wrapper__nav
                ul.mob-menu
                    li.mob-menu__item
                        a.mob-menu__link(href="#") Products
                    li.mob-menu__item
                        a.mob-menu__link(href="#") News & Events
                    li.mob-menu__item
                        a.mob-menu__link(href="#") Support
                    li.mob-menu__item
                        a.mob-menu__link(href="#") Contacts
                    li.mob-menu__item
                        a.mob-menu__link(href="#") Login
                    li.mob-menu__item
                        a.mob-menu__link(href="#") Buy Now
                ul.nav-list
                    li.nav-list__item
                        a.nav-list__link(href="#") Products
                    li.nav-list__item
                        a.nav-list__link(href="#") News & Events
                    li.nav-list__item
                        a.nav-list__link(href="#") Support
                    li.nav-list__item
                        a.nav-list__link(href="#") Contacts
            .header-wrapper__box
                a.header-wrapper__link(href="#") Login
                a.header-wrapper__link(href="#") Buy Now
        .header-content
            h1.header-content__title WE SOLVE YOUR PROBLEMS
            p.header-content__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec accumsan velit. Ut gravida id sem id sodales. Aenean quis enim dui. Vestibulum ullamcorper vel urna quis congue.
